@media (max-width:820px) {
  .header {
    background-position: bottom;
    background-size: cover;
  }
  .header__navi{
    margin: 0;
    padding: 30px;
  }
  .menu__icon {
    display: flex;
    align-items: center;
    
  }
  .menu__icon-1, .menu__icon-2, .menu__icon-3 {
    display: flex;
    padding: 15px;
  }
  .path-1 {
    fill:#737373;
  }
  .navi__bar{
    flex-wrap: wrap;

  }
  .navi__menu {
    order: 2;
    flex-grow: 2;
    flex-direction: column;
    flex-basis: 100%;
    padding: 100px 0;
  }
  .navi__menu-item{
    font-size: 30px;
    line-height: 45px;
  }
  .header__main {
  }
  .header__main-heading {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
  }
  .header__main-text {
    text-align: center;
    max-width:none;
  }
  .header__main-buttons {
    flex-direction: column;
    align-items: center;
  }
  .header__blocks {
    flex-direction: column;
    align-items: center;
  }
  .header__block {
    margin: 15px 0;
    width: 50%
  }
  /* choise */
  .choise {
    background: #f3f3f3;
  }

  .choise__cards {
    flex-direction: column;
    align-items: center;
  }
  .choise__card {
    width:50%;
    margin: 15px 0;
  }
  /* advice */
  .advice {
    background: #f3f3f3;
  }
  .advice__cards {
    flex-direction: column;
    align-items: center;
  }
  .advice__card {
    width: 80%;
    max-width: 400px;
    padding: 0;
    margin: 15px 0;
  }
  .advice__card-header {
    padding: 30px 30px 0;

  }
  .advice__card-text{
    padding: 15px 30px 30px;
  }
  /* business service */
  .service__card {
    flex-direction: column;
    align-items: center;
  }
  .service__card-video {
    order: -1;
    height: 300px;
    width: 90%;
  }
  /* clients */
  .clients {
    background-image: none;
    padding: 80px 0 0;

  }
  .clients__row {
    flex-direction: column;
    align-items: center;
  }
  .client-icon {
    padding: 30px 10px;
  }
  .clients__email {
    flex-direction: column;
    align-items: center;
    margin: 0;
    border-radius:0;
  }
  .email-header {
    padding: 30px 40px;
    text-align: center;
  }
  .email__input {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 110%;
  }
  /* contakts */
  .contakt__card {
    flex-direction: column;
    align-items: center;
  }
  .contakt__block {
    margin: 15px;
  }
  /* Footer */
  .footer__contakt {
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
  }
  .footer__contakt-header {
    padding-bottom: 30px;
  }
  .footer__about {
    flex-direction: column;
  }
  .item-icon {
    padding-left: 10px;
  }
  .footer__rights {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }
  .footer__rights-h6 {
    text-align: center;
    padding-bottom:50px;
  }


















}