* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #252b42;
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

header {
  background-color: #fafafa;
  background-image: url(./image/background.png);
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.header__navi {
  padding: 30px 0 20px 30px;
  margin: 0 5% 0 10%;
}

.navi__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navi-brand {
  font-weight: bold;
  font-size: 24px;
}

.navi__menu {
  display: flex;
}

.navi__menu-item {
  font-weight: 600;
  text-align: center;
  color: #737373;
  margin: 10px;
}

.menu__icon {
  display: flex;
  align-items: center;
}
.menu__icon-2, .menu__icon-3 {
  display: none;
}

.header__main {
  padding: 80px 0px;
  margin: 0 10%;
}

.header__main-info {
  padding: 0 30px;
  max-width: 500px;
}

.header__main-heading {
  font-weight: 800;
  font-size: 55px;
  line-height: 80px;
  padding: 35px 0;
}

.header__main-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  max-width: 380px;
}

.header__main-buttons {
  display: flex;
}

.header__main-button {
  border: 1px solid #00a0c1;
  box-sizing: border-box;
  border-radius: 37px;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  margin: 20px 5px;
  padding: 10px 36px;
  color: #00a0c1;
  background: none;
}

.header__main-button:hover {
  border: 1px solid #ffa62b;
  background-color: #ffa62b;
  color: white;
}

.header__blocks {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.header__block {
  background: #ffffff;
  padding: 35px 40px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin: 0 15px;
  width: 328px;
}
/* header block hover */
.header__block:hover {
  background-color: #00a0c1;
}

.header__block:hover .block__header-h3 {
  color: #ffffff;
}

.header__block:hover .header__block-text {
  color: #ffffff;
}

.header__block:hover path {
  fill: #ffffff;
}

.block__header-h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0;
}

.header__block-text {
  line-height: 20px;
  color: #737373;
}

/* choise  */

.choise {
  padding: 80px 0px;
  background: #fafafa;
  padding: 0 10%;
}

.choise__header {
  padding: 110px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choise-heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  padding: 0 0 10px;
  max-width: 500px;
}

.choise__header-info {
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  max-width: 500px;
}

.choise__cards {
  display: flex;
  justify-content: space-around;

}

.choise__card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3%;
  padding: 30px 40px;
  text-align: center;
  width: 15%;
}

.choise__card__h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  margin: 10px 0;
}

.choise__card__h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}

/* advice */

.advice {
  padding: 80px 10%;
  background: #fafafa;
}

.advice__header {
  padding: 120px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice-heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  padding: 0 0 10px;
  max-width: 500px;
}

.advice__header-info {
  line-height: 20px;
  text-align: center;
  color: #737373;
  max-width: 500px;
}

.advice__cards {
  display: flex;
  justify-content: center;
}

.advice__card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  margin: 0 15px;
  width: 17%;
}

.advice__card-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.advice__card-text {
  font-weight: 500;
  line-height: 20px;
  color: #737373;
  padding: 15px 0 30px;
}

/* service */

.service {
  padding: 80px 10%;
  background: #fff;
}

.service__header {
  margin: 20px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  padding-bottom: 10px;
  max-width: 500px;
}

.service__header-info {
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #737373;
  max-width: 500px;
}

.service__card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.service__card-info {
  font-weight: 500;
  line-height: 20px;
  margin-left: 10%;
}

.info-header {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
}

.info-text {
  padding: 10px 0 50px;
  font-weight: 500;
  line-height: 20px;
  color: #737373;
  max-width: 330px;
}

.card__item {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 330px;
}

.card__item-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.card__item-img {
  padding-right: 10px;
}

.service__card-video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./image/service-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  background-size: 100%;
}

/* clients  */

.clients {
  padding: 80px 10%;
  background: #fafafa;
  background-image: url(./image/clients-cover.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.clients__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 70px;
}
.client-icon {
  padding: 0 3%;
}
.clients__email {
  margin: -53px 1%;
  display: flex;
  justify-content: space-between;
  background-color: #16697a;
  padding: 30px 50px;
  border-radius: 2px;
}

.email-header {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  max-width: 258px;
}
.email__input {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.email__input-form {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  width: 70%;
  padding: 22px 15px;
}
.email__input-button {
  background: #ffa62b;
  color: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  padding: 22px 15px;
  cursor: pointer;
}
/* contakt */
.contakt {
  padding: 80px 0px;
  background: #f3f3f3;
  padding: 0 10% 110px;
}

.contakt__header {
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contakt-heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  padding: 0 0 10px;
  max-width: 500px;
}

.contakt__header-info {
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  max-width: 500px;
}

.contakt__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}
.contakt__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background: #fff;
}

.contakt__block-p {
  font-weight: 600;
  line-height: 24px;
  margin: 15px 0px;
  text-align: center;
}
.contakt__block-h5 {
  font-size: 16px;
  margin: 15px 0px;
}
.contakt__block-button {
  border: 1px solid #ffa62b;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 15px 0px;
  padding: 10px 20px;
  font-weight: 600;
  line-height: 24px;
  color: #ffa62b;
  background: inherit;
}
/* contakt__block hover */
.contakt__block:hover {
  background-color: #252B42;
  /* padding: 40px 25px; */
  transform: scale(1.1);
  transition: all 0.3s;
}

.contakt__block:hover p {
  color: #fff;
}
.contakt__block:hover h5 {
  color: #fff;
}
.contakt__block:hover .contakt__block-button {
  border: 1px solid #fff;
  color: #fff;
}

.contakt__block:hover path {
  fill: #fff;
}
/* FOOTER */
.footer__contakt {
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;

}

.footer__contakt-button {
  background: #FFA62B;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin: 10px;
  padding: 15px 40px;
  font-weight: bold;
  line-height: 28px;
  cursor: pointer;
}

.footer__about {
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
  background-color: #16697A;
}

.about-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding: 10px;
}

.item-icon {
  display: flex;
  align-items: center;
} 

.item-a {
  line-height: 24px;
  color: #fff;
  padding: 10px;
}
.footer__rights {
  padding: 25px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__rights-icons {
  display: flex;
}
.footer__rights-icon{
  padding: 0 10px;
}

.footer__rights-h6 {
  font-weight: 600;
  line-height: 24px;
  color: #737373;
}