.list-group {
  max-width: 100%;
}

.list-group-item {
  display: flex !important;
  justify-content: space-between;
  box-sizing: border-box;
}
.btn-warning, .btn-primary {
  margin:0 2px 0 2px;
}

.list-text {
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.emptyList {
  text-align: center;
  opacity: 0.5;
}

/* .radio {
  display: flex;
} */