* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Heebo';
  font-style: normal;
  text-decoration: none;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/Heebo-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/static/Heebo-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/static/Heebo-Black.ttf);
  font-weight: 900;
}

.menu__mobile {
  display: none;
  padding: 10px 15px 10px;
}

.menu__mobile-bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  color: #000;
}

.header__menu-item {
  padding: 20px 0 0 30px;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
}
.blog__menu {
  font-weight: 600;
  color: #FF6464
  ;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  color: #21243D;
}

.blog__header {
  Font-style: Bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
  padding: 25px 30px;
}

.post {
  margin: 15px;
  padding: 15px;
  max-width: 800px;
}

.post__header {
  font-size: 30px;
}

.post__info {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  padding: 10px 0;
}

.post__info-date {
  padding-right: 20px;
  border-right: black solid 1px;
}

.post__info-category {
  padding-left: 20px;
  color: #8695A4;
}

.post__text {
  border-bottom: 1.5px solid #E0E0E0;
  padding-bottom: 20px;
}

/* footer */

.footer__icons {
  padding: 110px 0 0 0;
  text-align: center;
}

.footer__icon {
  padding: 0 15px;
}

.copyright {
  text-align: center;
  margin: 25px 0;
  font-style: Regular;
  font-size: 14px;
}

/* media */
@media (max-width:600px) {
  .menu__mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  }

  /* header mobile view*/
  .header__technologist {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
  }

  .header__technologist-content {
      text-align: center;
  }

  .header__technologist {
      margin-top: 30px;
  }

  .header__menu {
      display: none;
  }
}

@media (max-width:400px) {
  .post__info {
      display: block;
      padding: 0 0 20px 0;
  }

  .post__info-category {
      padding: 0;
  }
  .post__info-date {
      border: none;
  }
}   