@media (max-width:700px) {
    .menu__mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /* header mobile view*/
    .header__technologist {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .header__technologist-content {
        text-align: center;
    }

    .header__technologist {
        margin-top: 30px;
    }

    .header__menu {
        display: none;
    }

    /* post mobile view*/
    .post__block {
        display: block;
    }

    .container__header {
        justify-content: center;
    }

    .container__header-view-all {
        display: none;
    }

    .post {
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.75);
        border-radius: 4px;
        width: auto;
    }

    .posts {
        background: #FFF;
        border: none;
        box-shadow: none;
    }

    /* work mobile view*/
    .work__2,
    .work__3 {
        display: none;
    }

    .work {
        flex-direction: column;
        align-items: center;
    }

    .work__img {
        width: 100%;
        margin: 0;
        height: auto;
    }
}

@media (max-width:370px) {
    .post__info {
        display: block;
        padding: 0 0 20px 0;
    }

    .post__info-category {
        padding: 0;
    }

    .post__info-date {
        border: none;
    }

    .footer__icon {
        padding: 0 5px;
    }
}