* {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Heebo';
    font-style: normal;
    text-decoration: none;
}

@font-face {
    font-family: 'Heebo';
    src: url(./fonts/Heebo-VariableFont_wght.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url(./fonts/static/Heebo-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Heebo';
    src: url(./fonts/static/Heebo-Black.ttf);
    font-weight: 900;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.menu__mobile {
    display: none;
    padding: 10px 15px 10px;
}

.menu__mobile-bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: #000;
}

.header__menu-item {
    padding: 20px 0 0 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}

.header__technologist {
    margin: 150px 15px 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.header__technologist-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}

.header__technologist-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    padding: 30px 0 30px;
}

.header__technologist-img {
    width: 232px;
    height: 224px;
}

.header__technologist-content {
    max-width: 497px;
}

.header__technologist-button {
    background: #FF6464;
    border-radius: 2px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    cursor: pointer;
}

.posts {
    background: #EDF7FA;
    border: 1px solid #000000;
    left: 2px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container__header {
    display: flex;
    justify-content: space-between;
}

.container__header-h {
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    margin: 0 15px;
}

.container__header-view-all {
    font-weight: normal;
    font-size: 16px;
    line-height: 60px;
    text-align: right;
    color: #00A8CC;
    margin: 0 15px;
}

.post__block {
    display: flex;
    align-items: baseline;
}

.post__header {
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
}

.post {
    background: #fff;
    border-radius: 4px;
    margin: 15px;
    padding: 15px;
    width: 50%;
}

.post__info {
    display: flex;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding: 10px 0;
}

.post__info-date {
    padding-right: 20px;
    border-right: black solid 1px;
}

.post__info-category {
    padding-left: 20px;
}

/* works */
.work {
    display: flex;
    margin: 15px;
    border-bottom: 1.5px solid #E0E0E0;
}

.work__img {
    width: 250px;
    height: 180px;
    margin: 0 15px;
}

.work__description {
    padding: 0 15px;
}

.work__header {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 15px;
}

.work__info {
    display: flex;
    margin-bottom: 22px;
    align-items: center;
}

.work__year {
    color: #FFF;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    background: #142850;
    border-radius: 16px;
    Width: 62px;
    Height: 25px;
    text-align: center;
}

.work__category {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    margin-left: 30px;
}

.work__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    width: 100%;
    padding-bottom: 15px;
}

/* footer */
.footer__icons {
    padding: 130px 0 0 0;
    text-align: center;
}

.footer__icon {
    padding: 0 15px;
}

.copyright {
    text-align: center;
    margin: 25px 0;
    font-style: Regular;
    font-size: 14px;
}