* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Heebo';
  font-style: normal;
  text-decoration: none;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/Heebo-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/static/Heebo-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/static/Heebo-Black.ttf);
  font-weight: 900;
}

.menu__mobile {
  display: none;
  padding: 10px 15px 10px;
}

.menu__mobile-bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  color: #000;
}

.header__menu-item {
  padding: 20px 0 0 30px;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
}

.works__menu {
  font-weight: 600;
  color: #FF6464;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  color: #21243D;
}
.work__header {
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  margin:50px 30px 0;
  max-width: 500px;
}

.works {
  display: flex;
  justify-content: center;
}

.work {
  max-width: 700px;
}

.work__description {
  padding: 20px;
}

.work__info {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.work__year {
  color: #FFF;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  background: #FF7C7C;
  border-radius: 16px;
  padding: 0 8px;
  text-align: center;
}

.work__category {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
  margin-left: 15px;
}

.work__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  width: 100%;
  padding-bottom: 15px;
}
.work__img {
  width: 100%;
  padding: 15px 0;
}

.work__heading_1 {
  font-weight: 500;
  font-size: 30px;
  line-height: 60px;
}

.work__heading_2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
}

/* footer */
.footer__icons {
  padding: 60px 0 0 0;
  text-align: center;
}

.footer__icon {
  padding: 0 15px;
}

.copyright {
  text-align: center;
  margin: 25px 0;
  font-style: Regular;
  font-size: 14px;
}
@media (max-width:400px) {

  .footer__icon {
    padding: 0 5px;
  }
}

/* MEDIA */
@media (max-width:600px) {
  .menu__mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header__menu {
    display: none;
  }

}
