* {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Heebo';
  font-style: normal;
  text-decoration: none;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/Heebo-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/static/Heebo-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/static/Heebo-Black.ttf);
  font-weight: 900;
}

.menu__mobile {
  display: none;
  padding: 10px 15px 10px;
}

.menu__mobile-bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 3px 0;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  color: #000;
}

.header__menu-item {
  padding: 20px 0 0 30px;
  font-size: 20px;
  line-height: 29px;
  text-align: right;
  color: #000000;
}

.works__menu {
  font-weight: 600;
  color: #FF6464;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  color: #21243D;
}

.works__header {
  font-weight: Bold;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
  padding: 25px 30px;
}

.work {
  display: flex;
  margin: 15px;
  border-bottom: 1.5px solid #E0E0E0;
}

.work__5 {
  display: none;
}

.work__img {
  width: 250px;
  height: 180px;
  margin: 15px;
}

.work__description {
  margin: 0 15px;
  padding: 15px;
}

.work__header {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 10px;
}

.work__info {
  display: flex;
  margin-bottom: 22px;
  align-items: center;
}

.work__year {
  color: #FFF;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  background: #142850;
  border-radius: 16px;
  Width: 62px;
  Height: 25px;
  text-align: center;
}

.work__category {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4;
  margin-left: 30px;
}

.work__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  width: 100%;
  padding-bottom: 15px;
}

/* footer */
.footer__icons {
  padding: 130px 0 0 0;
  text-align: center;
}

.footer__icon {
  padding: 0 15px;
}

.copyright {
  text-align: center;
  margin: 25px 0;
  font-style: Regular;
  font-size: 14px;
}

/* MEDIA */
@media (max-width:600px) {
  .menu__mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .work__5 {
    display: flex;
  }

  .works__header {
    padding: 5px 30px;
  }

  .header__menu,
  .work__2,
  .work__3,
  .work__4 {
    display: none;
  }

  .work {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 15px;
  }

  .work__img {
    width: 100%;
    margin: 15px 0 0 0;
    max-width: 450px;
    height: auto;
  }

  .work__description {
    margin: 20px 0;
  }
}

@media (max-width:400px) {

  .work__info-category {
    padding: 0;
  }

  .work__info-date {
    border: none;
  }

  .footer__icon {
    padding: 0 5px;
  }
}